<!DOCTYPE html>
<html>

<body>
  <h2>Make a post request</h2>

  <form action="/products" method="post">
    Product ID:
    <input name="id" />
    <br /> New Price:
    <input name="price" />
    <br />
    <button type="submit">Submit</buttontype>
  </form>

</body>

</html>